html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  background-color: lightGrey;
}

.parent {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 35px 195px 1fr 50px;
    grid-template-areas:
      "header"
      "widget"
      "nav"
      "main"
      "footer";
}

h1 {
    color: #e20813;
    text-transform: uppercase;
    text-align: center;
}

p {
    text-align: center;
    line-height: 10px;
}

header {
    grid-area: header;
  }
  
.search-widget {
    text-align: center;
    grid-area: widget;
}

  #search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    width: 30%;
    padding: 2px;
    min-width: 265px;
    outline: 0;
    background-color: #f5f5f5;
  }
  
input#search {
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    text-indent: 25px;
}
  
  
.nav-top {
    list-style-type: none;
    text-align: left;
    grid-area: nav;
    
}

.nav-top li {
    display: block;
}

.nav-top label {
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
}

.nav-top input[type="radio"]:checked+label {
    background-color: #bbb;
  }

#poster-images {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    grid-area: main;
}

#poster-images li {
    display: inline-block;
}

#poster-images li img {
    height: 400px;
    width: 300px;
    overflow: hidden;
    padding: 2.5px 5px;
}

footer {
    background-color: #e20813;
    color: white;
    grid-area: footer;
    text-align: center;
}

@media (min-width: 768px) {
    .parent {
      grid-template-columns: 1fr;
      grid-template-rows: 150px 35px 75px 1fr 50px;
      grid-template-areas:
      "header"
      "widget"
      "nav"
      "main"
      "footer";
}
.nav-top {
    text-align: center;
     
}

.nav-top li {
    display: inline-block;
}
.nav-top label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
}
input#search {
    background-image: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDU2Ljk2NiA1Ni45NjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDU2Ljk2NiA1Ni45NjY7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4Ij4KPHBhdGggZD0iTTU1LjE0Niw1MS44ODdMNDEuNTg4LDM3Ljc4NmMzLjQ4Ni00LjE0NCw1LjM5Ni05LjM1OCw1LjM5Ni0xNC43ODZjMC0xMi42ODItMTAuMzE4LTIzLTIzLTIzcy0yMywxMC4zMTgtMjMsMjMgIHMxMC4zMTgsMjMsMjMsMjNjNC43NjEsMCw5LjI5OC0xLjQzNiwxMy4xNzctNC4xNjJsMTMuNjYxLDE0LjIwOGMwLjU3MSwwLjU5MywxLjMzOSwwLjkyLDIuMTYyLDAuOTIgIGMwLjc3OSwwLDEuNTE4LTAuMjk3LDIuMDc5LTAuODM3QzU2LjI1NSw1NC45ODIsNTYuMjkzLDUzLjA4LDU1LjE0Niw1MS44ODd6IE0yMy45ODQsNmM5LjM3NCwwLDE3LDcuNjI2LDE3LDE3cy03LjYyNiwxNy0xNywxNyAgcy0xNy03LjYyNi0xNy0xN1MxNC42MSw2LDIzLjk4NCw2eiIgZmlsbD0iIzAwMDAwMCIvPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K");
}
}

